.event-info-wrapper {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  .event-info {
    position: absolute;
    left: 12%;
    z-index: 2;
    top: 65%;
    width: inherit;

    color: white;

    display: flex;
    flex-direction: column;

    .event-name {
      font-size: 62px;
      line-height: 80px;
      font-weight: normal;
      max-width: 90%;
    }

    .info-button {
      cursor: pointer;
      margin-top: 20px;
      width: fit-content;
      outline: none;
      display: inline-block;
      padding: 0 16px;
      height: 44px;
      border-radius: 3px;
      font-family: 'FranklinGothicMediCondOSC', Arial, sans-serif;
      font-size: 16px;
      line-height: 44px;
      color: #fff;
      text-decoration: none;
      box-sizing: border-box;
      text-align: center;
      transition: background-color .2s ease-in-out;
      -webkit-tap-highlight-color: transparent;
      background: #9750cb;
    }
  }
}

.event-info-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) 12%,rgba(0, 0, 0, 0.3) 78%, #202020); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.02) 12%, rgba(0, 0, 0, 0.5) 78%, #202020);
}

