<owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of events; let i = index">
    <ng-template carouselSlide id="{{i}}">
      <img [src]="url + slide.events[0].poster.path" [alt]="slide.events[0].poster.name">
      <div class="event-info-wrapper">
        <div class="event-info">
          <span class="event-name">{{ slide.events[0].name.ru}}</span>
          <span>{{ slide.events[0].NearestSchedule.begin_time | date:'d MMMM y года, hh:mm'}}</span>
          <a class="info-button" (click)="showEventInfo(slide)">
            Подробнее
          </a>
        </div>
      </div>
    </ng-template>
  </ng-container>

</owl-carousel-o>
