.info-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .close-icon{
    position: absolute;
    right: 0;
    font-size: 26px;
    cursor: pointer;
  }

  .name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
      font-size: 42px;
      line-height: 50px;
      max-width: 90%;
    }
  }

  .description {
    margin-top: 15px;
    font-size: 20px;
    line-height: 28px;
  }
}
