<div class="info-wrapper">
  <mat-icon class="close-icon" (click)="close()">close</mat-icon>
  <div class="name-wrapper">
    <span class="name">
      {{ data.name.ru }}
    </span>
  </div>
  <div class="description" [innerHTML]="data.short_description.ru">
  </div>
</div>
